<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="octalforty.brushie.instrumentation"
            type="octalforty.Brushie.Instrumentation.Core.Configuration.InstrumentationSection, octalforty.Brushie.Instrumentation.Core"/>
    </configSections>

    <octalforty.brushie.instrumentation xmlns="http://schemas.octalfortystudios.com/brushie/1.0/instrumentation">
        <!-- Defines all persister classes used in octalforty Brushie Instrumentation framework -->
        <persisters>
            <!-- A single persister. Required attributes are type and name. -->
            <persister type="octalforty.Brushie.Instrumentation.Core.Persisters.ConsolePersister, octalforty.Brushie.Instrumentation.Core"
                name="consolePersister">
                <properties>
                    <property name="formatString" value="{Time:yyyy-MM-dd hh:mm:ss.fff} - {Severity:-20} - {Source:-30} - {Message}" />
                </properties>
            </persister>
            <persister type="octalforty.Brushie.Instrumentation.Core.Persisters.TracePersister, octalforty.Brushie.Instrumentation.Core"
                name="tracePersister">
                <properties>
                    <property name="formatString" value="{Time:yyyy-MM-dd hh:mm:ss.fff} - {Severity} - {Source} - {Message}" />
                </properties>
            </persister>
            <persister type="octalforty.Brushie.Instrumentation.Core.Persisters.NullPersister, octalforty.Brushie.Instrumentation.Core"
                name="nullPersister" />
        </persisters>

        <!-- Optionally lists messages used in octalforty Brushie Instrumentation framework. -->
        <messages>
            <!-- A single message. -->
            <message type="octalforty.Brushie.Instrumentation.Core.Messages.TextMessage, octalforty.Brushie.Instrumentation.Core"
                name="textMessage" />
        </messages>

        <!-- Lists formatters used in octalforty Brushie Instrumentation framework. -->
        <formatters>
            <formatter type="octalforty.Brushie.Instrumentation.Core.Formatters.DateTimeFormatter, octalforty.Brushie.Instrumentation.Core" />
            <formatter type="octalforty.Brushie.Instrumentation.Core.Formatters.GenericFormatter, octalforty.Brushie.Instrumentation.Core" />
        </formatters>

        <!-- Binds persisters to messages. -->
        <bindings>
            <!-- Binds all messages with arbitrary severity and arbitrary source to the 
             textMessageConsolePersister. -->
            <binding persisterName="consolePersister" severity="*" source="*" message="*" />
            <binding persisterName="nullPersister" severity="Exception,Error" source="*" message="textMesssage" />
        </bindings>
    </octalforty.brushie.instrumentation>
</configuration>